doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="keep your time by job")
    meta(name="author",content="Eric Sheasby, Julia Reynolds")
    // we controle the title from the server
    title= title

    // Bootstrap core CSS
    link(rel="stylesheet",href="stylesheets/bootstrap.css")
    link(rel="stylesheet",href="stylesheets/bootstrap-theme.css")
    // Custom styles for this template
    link(rel="stylesheet",href="stylesheets/custom.css")
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800')
    // js
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script (src="javascripts/bootstrap.min.js")
    


  body
    block content
